@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    color: rgb(133, 148, 113);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(40 54 8);
    margin: 0px;
    padding: 1rem;
}

input {
    border: none;
    color: inherit;
    outline: none;
    padding: 0.5rem;
    width: 100%;
}

input::placeholder {
    color: inherit;
}

.outside-div {
    background: rgba(76, 100, 54, 0.3);
}

input,
.button-container,
.heading,
p,
label,
.error-message {
    text-align: center;
}

input,
.check-btn {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.check-btn {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 1rem 0rem;
    padding: 0.3rem 0.5rem;
}

.check-btn:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 1s;
}

.outside-div {
    max-width: 30rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.inside-div {
    max-width: 95%;
}

.inside-div,
input,
.table-manager {
    margin: auto;
}

.heading {
    font-size: 1.8rem;
}

.heading,
p {
    padding-bottom: 0.5rem;
}

p,
caption,
footer p {
    font-size: 0.9rem;
}

label {
    display: inline-block;
    font-weight: bold;
    padding: 1rem 0rem 0.5rem 0rem;
    width: 100%;
}

label,
.error-message,
th,
td {
    font-size: 0.8rem;
}

.error-message {
    color: rgb(195, 49, 49);
    padding: 0.5rem 0rem 1.5rem 0rem;
}

caption {
    padding-bottom: 0.5rem;
}

table,
th,
td {
    border: 1px solid rgb(31, 42, 12);
}

th,
td {
    padding: 0.1rem 0.2rem;
}

footer div {
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.gap {
    height: 5rem;
}